.rdg-row .rdg-cell {
  border-top: 1px solid #e7e7e7;
}

.rdg-cell[aria-selected='true'] {
  outline: none;
}

.rdg-header-row .rdg-cell {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
}
